.nav {
    grid-area: n;
    background-color:darksalmon;
    text-decoration: none;
    border-radius: 10px;
}

.link {
  text-align: left;
  padding-left: 25px;
}

.link a {
  font-size: 30px;
}

.item{
  color: white;
  text-decoration: none;
}

.activeLink {
  color: blueviolet;
}