* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header img {
  width: 80px;
}

/* grid */

.app-wrapper {
  display: grid;
  grid-template-areas:
  'h h'
  'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  grid-area: h;
  background-color:darksalmon;
  border-radius: 10px;
}

.nav {
  grid-area: n;
  background-color:darksalmon;
  text-decoration: none;
  border-radius: 10px;
}

.content {
  grid-area: c;
  background-color:darksalmon;
  border-radius: 10px;
}

/* content */

.content img {
  width: 100%;
}